<div class="post card">
    <div>
       <label for="title">Title</label> 
    </div>
    <div> 
        <label for="content">content</label>
     </div>
  <button type="submit" id="update" class="btn" >Update Post</button>
    <button type="submit" id="delete" class="btn" >Delete</button>

</div>

<script src="/js/edit.js"></script>