<div class="post card">
  
    <div>
       <label for="title">Title</label> 
    </div>
    <div> 
        <label for="content">content</label>
     </div>
  <button type="submit" id="newpost" class="btn" >New Post</button>
</div>

<script src="/js/new.js"></script>