<div class="post">
  
  <div>
      <label for="comment">Comment</label>
  </div>
  <div>
      <button type="submit" id="submit" class="btn" >Submit</button>
  </div>
</div>

<script src="/js/comment.js"></script>